@import 'reset';

$orange: #FE972B;
$defaultWidth: 800px !default;
$headerHeight: 104px !default;
$bodyFontStack: Georgia, seif;
$headFontStack: Abel, DINAlternate-Bold, --apple-system, system, 'Roboto', 'Helvetica', sans-serif;

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html, body {
  font-family: $bodyFontStack;
  margin: 0;
  padding: 0;
  font-size: 1.05em;
  color: rgba(0,0,0,.54);
  line-height: 1.4;
}

p {
  margin-bottom: 15px;
}

h1,h2,h3 {
  font-family: $headFontStack;
  color: rgba(0,0,0,0.87);
  text-align: middle;
  svg {
    vertical-align: middle;
  }
}

section {
  margin-bottom: 40px;
}

.width-container {
  width: $defaultWidth;
  margin: 0 auto;
}

// HEADER
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background: #FFFFFF;
  border-bottom: 1px solid #979797;
  box-shadow: 0 1px 2px 0 rgba(213,213,213,0.50), 0 2px 4px 0 rgba(0,0,0,0.12);

  .header--inner {
    display: flex;
    margin: 0 auto;
    width: $defaultWidth;

    > div {
      flex: 1;
    }
  }


  .header--contact {
    text-align: right;
    padding-top: 22px;
    a {
      display: block;
      font-family: $headFontStack; // @todo replace
      font-size: 18px;
      color: rgba(0,0,0,0.54);
      letter-spacing: 0.8px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      margin-right: 5px;
      width: 21px;
      vertical-align: text-top;
    }
  }
}

.container {
  background: url('../images/hero-image.png');
  height: 314px;
  background-size: cover;
  background-position: top center;
  margin-top: $headerHeight;
}

// HERO IMAGE
.hero {

  h1 {
    padding-top: 250px;
    font-size: 41px;
    line-height: 1;
    letter-spacing: 0;
    text-shadow: 0 1px 1px rgba(255,255,255,.4);
    margin-bottom: 15px;
  }

  .signoff {
    display: flex;
    flex-direction: row;
    float: right;

    .image img {
      width: 60px;
    }
    .signed {
      margin: 15px 0 0 15px;
    }
    small {
      display: block;
      margin-left: 2px;
      margin-top: -10px;
    }
  }

}

// Services
.services {
  img {
    vertical-align: middle;
  }
}

.services--grid {
  display: flex;

  .services--custom-home {
    flex: 1;
    padding-right: 20px;

    img {
      margin-bottom: 10px;
    }
  }

  .services--hammer {
    width: 80px;
    margin-top: 75px;
  }

  .services--renovations {
    margin-top: 66px;
    flex: 1;
  }
}

// Portfolio
.portfolio {

}

// Quotes
.quotes {

  .quotes--grid {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
  }

  blockquote {
    display: block;
    flex: 1 0 auto;
    width: 50%;
    padding: 20px;
    p {
      margin: 0;
    }
  }

  small {
    // float: right;
    color: rgba(0,0,0,.24);
  }

  .quote--indicator {
    float: left;
    width: 22px;
    height: 18px;
    margin-right: 5px;
    background: url('../images/quote.png');
    background-repeat: no-repeat;
  }

}

.button {
  background: $orange;
  box-shadow: 0 2px 0 0 #E78621;
  border-radius: 100px;
  padding: 10px 15px;
  color: rgba(255,255,255,.9);
  text-decoration: none;
  font-size: 0.9em;
  margin-right: 5px;

  img {
    vertical-align: text-top;
  }

  &:hover {
    background: darken($orange, 15%);
  }
}