@import 'reset';

$orange: #FE972B;
$defaultWidth: 800px !default;
$phoneSize: 650px !default;

$headerHeight: 104px !default;
$phoneHeaderHeight: 67px !default;
$bodyFontStack: Georgia, seif;
$headFontStack: 'Abel', 'Roboto', 'Helvetica', sans-serif;

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

*, * > * {
  box-sizing: border-box;
}

html, body {
  font-family: $bodyFontStack;
  margin: 0;
  padding: 0;
  font-size: 1.05em;
  color: rgba(0,0,0,.54);
  line-height: 1.4;
}

p {
  margin-bottom: 15px;
}

h1,h2,h3 {
  font-family: $headFontStack;
  color: rgba(0,0,0,0.87);
  text-align: middle;
  svg {
    vertical-align: middle;
  }
}

section {
  margin-bottom: 40px;
}

.width-container {
  padding: 0 20px;
  max-width: $defaultWidth;
  margin: 0 auto;
}

// HEADER
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 2px 0 rgba(213,213,213,0.50), 0 2px 4px 0 rgba(0,0,0,0.12);

  .header--logo {
    width: 388px;
  }

  .header--inner {
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
    max-width: $defaultWidth - 20px;

    > div {
      flex: 1;
    }
  }

  .header--contact {
    text-align: right;
    padding-top: 5px;
    a {
      display: block;
      font-family: $headFontStack; // @todo replace
      font-size: 14px;
      color: rgba(0,0,0,0.54);
      letter-spacing: 0.8px;
      text-decoration: none;
      margin-bottom: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      margin-right: 5px;
      max-width: 21px;
      vertical-align: text-top;
    }
  }

  @media (max-width: $phoneSize) {
    .header--logo {
      margin-top: 5px;
      width: 194px;
    }

    .header--contact {
      padding-top: 0px;
      a {
        font-size: 14px;
        margin-bottom: 2px;
      }
      img {
        vertical-align: sub;
        max-width: 14px;
      }
    }
  }

}

.container {
  background: url('../images/hero-image-wood.png');
  height: 314px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-top: $headerHeight;

  @media (max-width: $phoneSize) {
    margin-top: $phoneHeaderHeight;
  }
}

.container--simple {
  margin-top: $headerHeight;

  @media (max-width: $phoneSize) {
    margin-top: $phoneHeaderHeight;
  }
}

// HERO IMAGE
.hero {

  h1 {
    padding-top: 250px;
    font-size: 41px;
    line-height: 1;
    letter-spacing: 0;
    text-shadow: 0 1px 1px rgba(255,255,255,.4);
    margin-bottom: 15px;
  }

  .signoff {
    display: flex;
    flex-direction: row;
    float: right;

    .image img {
      width: 60px;
    }
    .signed {
      margin: 15px 0 0 15px;
    }
    small {
      display: block;
      margin-left: 2px;
      margin-top: -10px;
    }
  }

}

// Services
.services {
  img {
    vertical-align: middle;
  }
}

.services--grid {
  display: flex;
  flex-flow: row wrap;

  .services--custom-home {
    flex: 1 1 auto;
    padding-right: 20px;
    width: 50%;

    img {
      margin-bottom: 10px;
    }
  }

  .services--hammer {
    width: 80px;
    // flex: 1 1 auto;
  }

  .services--renovations {
    flex: 1 1 auto;
    width: calc(50% - 80px);
  }

  @media (min-width: $phoneSize) {
    .services--hammer {
      margin-top: 75px;
    }
    .services--renovations {
      margin-top: 66px;
    }
  }

  @media (max-width: $phoneSize) {
    .services--custom-home {
      width: 100%;
    }
  }

}

// Portfolio
.portfolio {

  img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }

  .portfolio--grid {
    display: flex;
    flex-flow: row wrap;
  }

  // Quick & dirty duplication, @todo re-visit
  .feature-items {
    flex: 2 0 auto;
    flex-flow: row wrap;
    min-width: 100%;
    width: 100%;

    a {
      display: block;
      transition: box-shadow .2s;
      box-shadow: 0 1px 3px 0px #fff;
      border-radius: 3px;
      color: inherit;
      text-decoration: none;
    }

    .wrapper {
      display: flex;
    }

    .single-item {
      position: relative;
      flex: 1 0 auto;
      max-width: 50%;
      padding: 10px;
      img {
        border-radius: 3px;
      }
    }

    .link-button {
      font-size: 16px;
      margin: 0 auto;
      padding-bottom: 15px;
      text-align: center;
      // display: inline-block;
      transition: color .2s;
    }

    &:hover a {
      box-shadow: 0 1px 3px 0px rgba(0,0,0,.24);
      .link-button {
        color: #333;
      }
    }
  }

  .portfolio--grid-item {
    flex: 0 0 25%;

    @media (max-width: $phoneSize) {
      flex: 1 0 50%;
    }

    padding: 10px;
    position: relative;
    text-align: center;
    border-radius: 3px;
    transition: box-shadow .2s;
    box-shadow: 0 1px 3px 0px #fff;

    img {
      display: block;
      border-radius: 3px;
    }
    a:hover,
    a {
      color: inherit;
    }
    &.large {
      max-width: 50%;
    }

    .link-button {
      font-size: 14px;
      margin: 10px auto 0;
      text-align: center;
      display: inline-block;
      transition: color .2s;
    }

    &:hover {
      box-shadow: 0 1px 3px 0px rgba(0,0,0,.24);
      .link-button {
        color: #333;
      }
    }

  }
}

.portfolio--label {
  width: 124px;
  height: 124px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;

  &.before {
    background-image: url('../images/before-label@2x.png');
  }

  &.after {
    background-image: url('../images/after-label@2x.png');
  }
}

// Indivial pages portfolio
.portfolio--standalone {
  text-align: center;

  h1 {
    padding: 30px;
    text-align: center;
  }

  > div {
    display: inline-block;
    // margin: 0 auto;
    padding: 10px;
    position: relative;
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
  }

}

// Quotes
.quotes {

  .quotes--grid {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
  }

  blockquote {
    display: block;
    flex: 1 0 auto;
    width: 50%;
    padding: 20px;
    p {
      margin: 0;
    }
  }

  small {
    color: rgba(0,0,0,.24);
  }

  .quote--indicator {
    float: left;
    width: 22px;
    height: 18px;
    margin-right: 5px;
    background: url('../images/quote.png');
    background-repeat: no-repeat;
  }


  @media (max-width: $phoneSize) {
    blockquote {
      width: 100%;
    }
  }

}

.footer {
  padding-bottom: 40px;

  a {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.button {
  background: $orange;
  box-shadow: 0 2px 0 0 #E78621;
  border-radius: 100px;
  padding: 10px 15px;
  color: rgba(255,255,255,.9);
  text-decoration: none;
  font-size: 0.9em;
  margin-right: 5px;

  img {
    vertical-align: text-top;
  }

  &:hover {
    background: darken($orange, 15%);
  }
}