<section class="footer">
  <h2>Ready to take the next step?</h2>
  <p>
    All conversations are free!  It's normal to feel apprehensive about taking the next step.
    Call us for a walk through consultation and we can put together a preliminary construction budget for you at no charge.
  </p>
  <p>
    Your home is more than numbers on paper, let us help you make the decision easier with our transparent approach to budgeting and project management.
    Call us or Email us anytime at-
  </p>
  <p>
    <a class="button" href="tel:+12508638746"><img src="images/phone-icon.png" /> (250) 863-8746</a>
    <a class="button" href="mailto:hello@herouxhomes.ca"><img src="images/email-icon.png" />&nbsp;hello@herouxhomes.ca</a>
  </p>
</section>