<header class="header">
  <div class="header--inner">
    <div class="header--logo">
      <a href="/"><img src="images/logo@2x.png" class="header--logo" /></a>
    </div>
    <div class="header--contact">
      <a href="tel:+12508638746"><img src="images/phone-icon.svg" />(250) 863-8746</a>
      <a href="mailto:hello@herouxhomes.ca"><img src="images/email-icon.svg" />hello@herouxhomes.ca</a>
      <a href="https://www.facebook.com/HerouxHomes/"><img src="images/facebook-icon.png" width="16" />Visit us on Facebook</a>
    </div>
  </div>
</header>